Repository dimonovdd/Xamarin.MediaGallery, pull requests merged in 2021-04, with the labels that each got.

#5 ActionPick changed for video to ActionGetContent
  MediaGallery/MediaFile/MediaFile.android.cs
  MediaGallery/MediaFile/MediaFile.shared.cs
  MediaGallery/MediaGallery/PickMedia.android.cs
  Sample/Sample/ViewModels/PickVM.cs
Labels: PickMedia, android

#7 MonoAndroid11.0
  MediaGallery/MediaGallery.csproj
  MediaGallery/MediaGallery/PickMedia.android.cs
  MediaGallery/MediaGallery/SaveMedia.android.cs
  Sample/Sample.Android/Properties/AndroidManifest.xml
  Sample/Sample.Android/Sample.Android.csproj
Labels: android

#9 Fixed build on Windows
  Sample/Sample.Android/Sample.Android.csproj
  Sample/Sample/Sample.csproj
  Xamarim.MediaGallery.sln
Labels: sampleProject

#10 Refactoring MediaPicker on iOS
  MediaGallery/MediaFile/IMediaFile.shared.cs
  MediaGallery/MediaFile/MediaFile.android.cs
  MediaGallery/MediaFile/MediaFile.ios.cs
  MediaGallery/MediaFile/MediaFile.netstandard.cs
  MediaGallery/MediaFile/MediaFile.shared.cs
  MediaGallery/MediaGallery.csproj
  MediaGallery/MediaGallery/MediaGallery.ios.cs
  MediaGallery/MediaGallery/MediaGallery.netstandard.cs
  MediaGallery/MediaGallery/PickMedia.ios.cs
  README.md
  Sample/Sample/Sample.csproj
  Sample/Sample/ViewModels/MediaFileInfoVM.cs
  Sample/Sample/ViewModels/PickVM.cs
  Sample/Sample/Views/MediaFileInfoPage.xaml
  Sample/Sample/Views/PickPage.xaml
Labels: PickMedia, iOS

#15 Added support .Net Standard 2.0
  MediaGallery/MediaGallery.csproj
  README.md
  Sample/Sample/Views/MediaFileInfoPage.xaml
  Sample/Sample/Views/PickPage.xaml
Labels: enhancement

#16 Getting the original file name for iOS below version 14
  MediaGallery/MediaFile/MediaFile.ios.cs
  MediaGallery/MediaGallery/PickMedia.ios.cs
  README.md
Labels: PickMedia, iOS
